<h1>チケット販売</h1>

<h2>イベント場所</h2>
<p>○○シアター</p>

<h2>日時</h2>
<p>1月○日</p>

<h2>イベント</h2>
<h3>〇〇展示会</h3>

<h2>時間</h2>
<img src="https://placehold.jp/150x150.png" class="img-fluid" alt="モックアップ">
<p>14時00分 〜 15時00分</p>

<h2>購入枚数</h2>

<div>
  <div>
    <p>大人 1,000円</p>
    <p>備考:</p>
    <p>2枚</p>
  </div>

  <div>
    <p>こども 500円</p>
    <p>備考:16歳未満</p>
    <p>1枚</p>
  </div>

  <p>合計金額 2,500円</p>
</div>


<%= link_to '購入', thanks_path, class: 'btn btn-primary' %>
<%= link_to '最初から選ぶ', root_path, class: 'btn btn-primary' %>
