<h1>チケット販売</h1>

<h2>イベント場所</h2>
<p><%= @event_names.first.first.event_place.name %></p>

<h2>日時</h2>
<p><%= @event_names.first.first.entry_time.to_date %></p>

<h2>イベント選択</h2>

<% @event_names.each do |event_name|%>
  <div class="row">
  <h3><%= event_name.first.event_name.name %></h3>

  <div class="col-md-4">
    <img src="https://placehold.jp/150x150.png" class="img-fluid" alt="モックアップ">
  </div>

  <div class="col-md-8">
    <% event_name.each do |event| %>
      <% str_time = [event.entry_time.strftime("%R"),
                    "~",
                    event.exit_time.strftime("%R")].join %>
      <li><%= link_to str_time, select_ticket_path %> </li>
    <% end %>
    </div>
  </div>
<% end %>
