<h1>チケット購入</h1>

<h2>イベント会場選択</h2>
<ul>
  <li><%= link_to '○○シアター', select_date_path %></li>
  <li><%= link_to '○○シアター', select_date_path %></li>
  <li><%= link_to '○○シアター', select_date_path %></li>
</ul>
