<h1>サインアップ</h1>

<form method="POST" action="sample.cgi">
	<p>メールアドレス<input type="text" name="NAME"></p>
	<p>パスワード<input type="text" name="email"></p>
	<p><input type="submit" value="サインイン"></p>
	<p><input type="submit" value="新規登録"></p>
</form>

<%= link_to 'マイページ', thanks_path, class: 'btn btn-primary' %>
