<h1>主催者管理画面</h1>

<h2>サインイン</h2>

<input type="text" name="title" size="20" maxlength="28" />
<input type="text" name="title" size="20" maxlength="28" />

<%= link_to 'サインイン', eventer_path, class: 'btn btn-primary' %>
