<h1>受付スタッフ</h1>

<%= link_to 'QRコード読み取り', staff_qrcode_reader_path, class: 'btn btn-primary' %>
<%= link_to '履歴', staff_buy_detail_path, class: 'btn btn-primary' %>
<%= link_to 'ログアウト', '#', class: 'btn btn-primary' %>
