<h1>受付スタッフ</h1>

<h2>QRコード読み取り</h2>

<div id="loading">ブラウザのカメラの使用を許可してください。</div>
<canvas id="canvas" hidden></canvas>

<div id="output">
  <div id="outputMessage">No QR code detected.</div>
  <div hidden=""><b>Data:</b> <span id="outputData"></span></div>
  <a id="url" href="#" class="btn btn-primary">チケット確認</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js"></script>
<script>
  const video = document.createElement("video");
  const canvasElement = document.getElementById("canvas");
  const canvas = canvasElement.getContext("2d");
  const loading = document.getElementById("loading");
  const output = document.getElementById("output");
  const outputMessage = document.getElementById("outputMessage");
  const outputData = document.getElementById("outputData");
  const url = document.getElementById("url")

  navigator.mediaDevices
    .getUserMedia({ video: { facingMode: "environment" } })
    .then((stream) => {
      video.srcObject = stream;
      video.setAttribute("playsinline", true);
      video.play();
      requestAnimationFrame(tick);
    });

  function tick() {
    loading.innerText = "ロード中...";

    if (video.readyState === video.HAVE_ENOUGH_DATA) {
      loading.hidden = true;
      canvasElement.hidden = false;
      canvasElement.height = video.videoHeight;
      canvasElement.width = video.videoWidth;
      canvas.drawImage(
        video,
        0,
        0,
        canvasElement.width,
        canvasElement.height
      );

      var imageData = canvas.getImageData(
        0,
        0,
        canvasElement.width,
        canvasElement.height
      );

      var code = jsQR(imageData.data, imageData.width, imageData.height, {
        inversionAttempts: "dontInvert",
      });

      if (code) {
        outputMessage.hidden = true;
        outputData.parentElement.hidden = false;
        outputData.innerText = code.data;

        url.parentElement.hidden = false;
        url.setAttribute('href', 'http://localhost:3000/staff/buy_detail/' + code.data);
        sleep(5000);
      } else {
        outputMessage.hidden = false;
        outputData.parentElement.hidden = true;
        url.parentElement.hidden = true;
      }
    }
    requestAnimationFrame(tick);
  }
</script>
