<h1>受付スタッフ</h1>

<h2>サインイン</h2>

<select name="test" size="3" multiple="multiple">
  <option value="test1" selected="selected">Aさん</option>
  <option value="test2">Aさん</option>
  <option value="test3">Aさん</option>
</select>

<%= link_to 'サインイン', staff_path, class: 'btn btn-primary' %>
