<h1>デバッグ画面</h1>

<%= link_to 'ユーザ画面', root_path, class: 'btn btn-primary' %>
<%= link_to '主催者管理画面', eventer_signin_path, class: 'btn btn-primary' %>
<%= link_to '受付スタッフ画面', staff_signin_path, class: 'btn btn-primary' %>
