<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "マイページ", mypage_path %></li>
      <li><%= link_to "デバッグ画面", debug_select_actor_path %></li>
    </ul>
  </nav>

  <small>
    <p>COPYRIGHT 2023 paraizo2424</p>
  </small>
</footer>
